<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echoamoy.holdlens.server.infrastructure.dao.IFundDetailItemDao">

    <resultMap id="BaseResultMap" type="com.echoamoy.holdlens.server.infrastructure.dao.po.FundDetailItemPO">
        <id column="id" property="id"/>
        <result column="fund_asset_id" property="fundAssetId"/>
        <result column="fund_code" property="fundCode"/>
        <result column="fund_name" property="fundName"/>
        <result column="buy_status" property="buyStatus"/>
        <result column="daily_purchase_limit" property="dailyPurchaseLimit"/>
        <result column="returns_as_of" property="returnsAsOf"/>
        <result column="top_holdings_as_of" property="topHoldingsAsOf"/>
        <result column="public_holdings_status" property="publicHoldingsStatus"/>
        <result column="one_month_return" property="oneMonthReturn"/>
        <result column="three_months_return" property="threeMonthsReturn"/>
        <result column="six_months_return" property="sixMonthsReturn"/>
        <result column="one_year_return" property="oneYearReturn"/>
        <result column="three_years_return" property="threeYearsReturn"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, fund_asset_id, fund_code, fund_name, buy_status,
        daily_purchase_limit, returns_as_of, top_holdings_as_of, public_holdings_status,
        one_month_return, three_months_return, six_months_return, one_year_return,
        three_years_return, create_time, update_time
    </sql>

    <insert id="upsert" parameterType="com.echoamoy.holdlens.server.infrastructure.dao.po.FundDetailItemPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO fund_detail_item (
            fund_asset_id, fund_code, fund_name, buy_status,
            daily_purchase_limit, returns_as_of, top_holdings_as_of, public_holdings_status,
            one_month_return, three_months_return, six_months_return, one_year_return,
            three_years_return
        ) VALUES (
            #{fundAssetId}, #{fundCode}, #{fundName}, #{buyStatus},
            #{dailyPurchaseLimit}, #{returnsAsOf}, #{topHoldingsAsOf}, #{publicHoldingsStatus},
            #{oneMonthReturn}, #{threeMonthsReturn}, #{sixMonthsReturn}, #{oneYearReturn},
            #{threeYearsReturn}
        )
        ON DUPLICATE KEY UPDATE
            id = LAST_INSERT_ID(id),
            fund_asset_id = VALUES(fund_asset_id),
            fund_name = VALUES(fund_name),
            buy_status = VALUES(buy_status),
            daily_purchase_limit = VALUES(daily_purchase_limit),
            returns_as_of = VALUES(returns_as_of),
            top_holdings_as_of = VALUES(top_holdings_as_of),
            public_holdings_status = VALUES(public_holdings_status),
            one_month_return = VALUES(one_month_return),
            three_months_return = VALUES(three_months_return),
            six_months_return = VALUES(six_months_return),
            one_year_return = VALUES(one_year_return),
            three_years_return = VALUES(three_years_return),
            update_time = CURRENT_TIMESTAMP
    </insert>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM fund_detail_item
        WHERE id = #{id}
    </select>

    <select id="selectByFundCodes" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM fund_detail_item
        WHERE fund_code IN
        <foreach collection="fundCodes" item="fundCode" open="(" separator="," close=")">
            #{fundCode}
        </foreach>
        ORDER BY fund_code ASC
    </select>

    <select id="selectRefreshTargetsAfterId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM fund_detail_item
        WHERE id &gt; #{lastId}
          AND fund_code IS NOT NULL
          AND fund_code != ''
        ORDER BY id ASC
        LIMIT #{limit}
    </select>

</mapper>
